:root{
--bg_color_header: #64ffda;
--titulo: #9effff;
}
body{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
h1,h2,h3,p,a,div{
  margin: 0;
  padding: 0;
}
.header{
  background-color: var(--bg_color_header); 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items:flex-end;
  justify-items: flex-start;
}
.header h1{
  color: var(--blanco);
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 5rem;
  margin-inline-start: 60px;
  margin-block-end: 100px;
}